{% extends 'base.html.twig' %}

{% block title %}Bloso Home!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Camp List -->
            <div class="col-sm-12 col-md-8">

                <!-- H1 Camp -->
                <a class="main-article-link" href="{{ path('campDetail',{campId:inPreview[0].id}) }}">
                    <div class="main-article mb-5 pb-3">
                        <img src="{{ asset('images/') ~ inPreview[0].image }}" alt="boogschieten">
                        <h3 class="text-center mt-2">{{ inPreview[0].name}} <br>{{inPreview[0].translations[language].quote}}</h3>
                    </div>
                </a>

                <!-- Supporting Camps -->

                {% for camp in camps %}
                    <div class="article-container my-1">
                        <a href="{{ path('campDetail',{campId:camp.id}) }}">
                            <img class="article-img" src="{{ asset("images/") ~ camp.image }}">
                            <div class="article-title d-inline-block pl-3 align-middle">
                                <span><h4>{{ camp.name}}  </h4>{{ camp.translations[language].quote}}</span>
                                <br>
                                <span class="align-left article-details"><img class="article-author-img rounded-circle" src="images/alien-profile.png"> {{ camp.author}}</span>
                                <span class="pl-5 article-details float-right"> {{ camp.date|date("Y-m-d H:i:s") }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>

            <!-- Right bar ad space -->
            <div class="col-sm-12 col-md-4 text-center">
                <a href="{{ path('createCamp') }}">
                    <button class="btn btn-info my-2 my-sm-0" type="submit">{{ "Create New Camp"|trans }}</button>
                </a>
                <div class="quote-space pb-2 pt-2 px-5">
                    <h3 class="text-center pb-3">{{"Getuigenissen"|trans}}</h3>
                    <p><i class="fa fa-comment"></i> "Toen ik voor het eerst een sacoche wierp,  gooide ik nog geen twee meter ver. Maar nu gaat het al veel beter." <br>— <a href="https://www.youtube.com/watch?v=3jfNfmghZUI" target="_blank">Joost Van Hyfte</a></p>
                    <p class="pt-4"><i class="fa fa-comment"></i> "Eigenlijk was ik nooit traag bij het rennen, maar altijd al een snelwandelaar geweest" <br>— <a href="https://www.youtube.com/watch?v=1z8NpmCqvZE" target="_blank">Kraantje Pappie</a></p>
                    <p class="pt-4"><i class="fa fa-comment"></i> "Tijdens het jongleren, moet ik minder krabben van mijn algerie"<br>— <a href="https://www.youtube.com/watch?v=hJapJjUix8A" target="_blank">Filip Mars</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
